# Local Netlify folder
.netlify

# Dependencies
/node_modules
/venv
/.env

# Build outputs
/dist
/build
/*.pyc
/__pycache__

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store

# Log files
*.log
npm-debug.log*

# Local environment variables
.env.local
.env